In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('balance.txt',sep=' ')

In [4]:
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

Compare the average income based on ethnicity

In [6]:
average_income_by_ethnicity = df.groupby('Ethnicity')['Income'].mean()

In [9]:
print(average_income_by_ethnicity)

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

On average, do married or single people have a higher balance?

In [12]:
average_balance_by_marital_status = df.groupby('Married')['Balance'].mean()

In [13]:
print(average_balance_by_marital_status)

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

 What is the highest income in our dataset?

In [14]:
highest_income = df['Income'].max()

In [15]:
print(highest_income)

186.634

What is the lowest income in our dataset?

In [16]:
lowest_income = df['Income'].min()

In [17]:
print(lowest_income)

10.354

How many cards do we have recorded in our dataset?

In [18]:
total_cards_recorded = df['Cards'].sum()

In [19]:
print(total_cards_recorded)

1183

How many females do we have information for vs how many males?

In [21]:
female_count = df[df['Gender'] == 'Female'].count()['Gender']
male_count = df[df['Gender'] == 'Male'].count()['Gender']

In [22]:
print(female_count, male_count)

207 193